<div class="modal fade" id="ModalFotoupload" tabindex="-1" role="dialog" aria-labelledby="ModalUploadFoto" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fotoupload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
            </div>
            <div class="modal-body">
                {{ objEventBlogImageUploadForm|raw }}
            </div>
        </div>
    </div>
</div>
<script>
    // Do not send the form twice
    document.querySelector('#ModalFotoupload form').addEventListener('submit', (e) => {
        e.target.querySelector('#ctrl_submitImageUploadFormBtn').disabled = true;
    });
</script>
